<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>NEW TABLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>

      <ion-col>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="title"></ion-input>
          </ion-item>

          <ion-item>
              <ion-input type="text" placeholder="title"></ion-input>
          </ion-item>

          <ion-item>
              <ion-input type="text" placeholder="title"></ion-input>
          </ion-item>

          <ion-item>
              <ion-input type="text" placeholder="title"></ion-input>
          </ion-item>

          <ion-item>
              <ion-input type="text" placeholder="title"></ion-input>
          </ion-item>
        </div>
      </ion-col>

  </ion-grid>

  <ion-button routerLink="/home" size="default" expand="block" fill="solid" color="primary">HOME</ion-button>

</ion-content>